* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
    height: 290px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}


#banner {
    margin: auto;
    width: 100%;
    padding: 50px;
}

.principal {
    background-color: #cccccc;
    padding: 50px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

p#missao {
    font-size: 20px;
}

strong#cor {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #ffffff;
    padding: 20px;
}

ul.beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background: url(imagem/bg.jpg);
    padding: 40px 0;
    height: 366px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}