@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c35;
--cor5:#063d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-android: 'Android', cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    transition: .5s;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

a.externo {
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 3px;
    padding: 2px;
}

a:hover {
    text-decoration: underline;
}

a.externo::after {
    content: '\00A0\1F517';
}

strong {
    color: var(--cor5);
}

main {
    width: 1200px;
    margin: auto;
    background-color: white;
}